@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Me";
}
<div class="row">
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>
<br/>
<div class="row big-padding">
    <p>For further information please contact me:</p>
    <address>
        <strong>Email:</strong> <a href="mailto:matthew.odea167@gmail.com">matthew.odea167@gmail.com</a>
    </address>
    <br/>
</div>
