@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <h1 class="text-center">Welcome to Matthew O'Dea's Website</h1>
</div>
<div class="row">
    <h2 class="text-center">An Introduction</h2>
    <p>I am Matthew John O'Dea, raised in Western Australia, 19 years old and a Junior Developer that has a deep passion for computers. I have been behind a screen since a young age. Whether it was making projects for school, entertaining myself with Video Games and YouTube, or making an application, I have always been interested and intrigued with the complexity of Information technology. I graduated from Emmanuel Catholic College at the end of 2015, and have studied to become a programmer ever since. While being eager to continue improving my skills in the industry of IT, I know I am ready.</p>
</div>
<br />
<div class="row">
    <h2 class="text-center">Career Objective</h2>
    <p>I am looking to gain skills and experience through a full time position in Software Development. I am currently completing the Diploma of Software Development course at North Metropolitan Tafe, and I wish to use the what I have learned so far to further develop my skills as a programmer.<p>
        <br />
    <p>Being a conscientious young man, I set goals along the way that allow a clearer look at the finish line in every project. I work hard to complete my tasks, am well-mannered, have a pleasant disposition and I am very friendly.</p>
</div>