@page
@model MatthewODeaMe.Pages.ProfessionalExperienceModel
@{
    ViewData["Title"] = "Professional Experience";
}

<div class="row">
    <h1 class="text-center">Employment And Work Experience</h1>
</div>
<br/>
<div class="big-padding text-center">
    <p"><strong>October 2014 - Current (Part time Employment)</strong></p>
    <p>Tony Ale and Co Fresh Food Market – Shop assistant</p>
    <br/>
    <p><strong>February 2014 - October 2015</strong></p>
    <p>Emmanuel College Coffee Shop – Customer service, cash handling and food and beverage preparation</p>
    <br/>
    <p><strong>July 2013 - Current</strong></p>
    <p>Personal Attributes - Assists business with program formatting, IT layout and installation of training programs, backup and recovery procedures</p>
    <br/>
    <p><strong>2013 (Volunteer Community Service)</strong></p>
    <p>City to Surf – Westpac Tent assisting competitors and canteen duties</p>
    <br/>
    <p><strong>2009 to 2013 (Volunteer Community Service)</strong></p>
    <p>Bridging the Gap Job Futures Spearwood - General Administration duties</p>
    <br/>
    <p><strong>2013 (Volunteer Community Service)</strong></p>
    <p>St Jerome’s Primary School Spearwood – Teachers support person</p>
</div>